@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
