@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  height: 90px;
  padding: 0.5rem 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img {
  width: 100%;
  color: #fff;
}

header .main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .main-nav__item {
  margin-right: 3rem;
}
